[Desktop Entry]
Name=Install PlaynixOS
Comment=Install PlaynixOS
Exec=konsole --hold -e sudo arch-installer
Icon=system-software-install
Terminal=false
Type=Application
